In [32]:
import pandas as pd

In [33]:
filename = "serial/COM6_2025_10_27.18.33.42.744.txt"
df = pd.read_csv(filename, header=None)
df.columns = ['inference_time_us']
df['inference_time_ms'] = df['inference_time_us'] / 1000
df['inference_time_s'] = df['inference_time_ms'] / 1000
df

     inference_time_us  inference_time_ms  inference_time_s
0              2544639           2544.639          2.544639
1              2537995           2537.995          2.537995
2              2549457           2549.457          2.549457
3              2551285           2551.285          2.551285
4              2549364           2549.364          2.549364
..                 ...                ...               ...
247            2256310           2256.310          2.256310
248            2266644           2266.644          2.266644
249            2267731           2267.731          2.267731
250            2268066           2268.066          2.268066
251            2270339           2270.339          2.270339

[252 rows x 3 columns]

In [34]:
df.describe()

       inference_time_us  inference_time_ms  inference_time_s
count       2.520000e+02         252.000000        252.000000
mean        2.411268e+06        2411.268056          2.411268
std         1.307343e+05         130.734285          0.130734
min         2.215206e+06        2215.206000          2.215206
25%         2.267726e+06        2267.726500          2.267727
50%         2.440560e+06        2440.560500          2.440561
75%         2.544684e+06        2544.684500          2.544685
max         2.554085e+06        2554.085000          2.554085